<% if !@decorated_recipe %>
  <p class="danger"><%= "Something went wrong!" %></p>
<% else %>
  <section>
    <article>
      <header class="heading">
        <h1><%= @decorated_recipe.title %></h1>
        <% if @decorated_recipe.chef_name %>
          <div class="byline">
            <address class="author">By <strong><%= @decorated_recipe.chef_name %></strong></address> 
          </div>
        <% end %>
        
        <% if @decorated_recipe.tags %>
          <div class="tags">
            <% @decorated_recipe.tags.map do |tag| %>
              <span class="tag"> <%= tag %> </span>
            <% end %>
          </div>
        <% end %>
      </header>
      <div class="paper">
        <%= image_tag @decorated_recipe.photo_url, alt: "recipe's photo", class: 'paper__image' %>
        <div class="paper__text">
          <p><%= @decorated_recipe.description %></p>
        </div>
      </div>
    </article>
  </section>
<% end %>
<hr>
<div class="back-button">
  <%= link_to 'Back', recipes_path %>
</div>
